* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  text-decoration: none;
}

.main_wrapper {
  max-width: 700px;
  margin: 0 auto;
}
