* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 16px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  text-decoration: none;
}

.main_wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.text_aboutZeroPost {
  text-align: center;
  color: grey;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 10px 0px;
}

.post-enter {
  transform: translateX(-700px);
}
.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateX(-700px);
  transition: all 500ms ease-in;
}
